*{
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 37);
    font-size: 16px;
    line-height: 1.5;
}



/* Text style */


h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
}


p{
    font-weight: 400;
    line-height: 1.5;
}



.wrapper{
    width: 90%;
    margin: 2rem auto;

}

img{
    width: 100%;
    height: auto;
}

/* Form */

form{
    margin-top: 1rem;
}

.form-heading{
    margin-bottom: 3rem;

}

.form-heading p{
    font-size: 1.25rem;
}

input, textarea{
    display:block;
    margin-top: 0.75rem;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 0.25rem;
    padding: 0.75rem;
    line-height: 1.5;
}

input{
    height: 4rem;
}

#feedback{
    color:red;
}



.box{
    margin-bottom: 2rem;
}

#result{
    margin-top: 2rem;
}

#result li{
    font-size: 1.25rem;
}

.button{
    margin-top: 2rem;
    background-color: #030303;
    color: #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
}

.social-media{
    display: inline-block;
    margin-top: 4rem;
}

.icon{
    display: flex;
    justify-content: space-evenly;
}

.social-icon{
    width: 10%;
    margin-bottom: 4rem;

}





@media only screen and (min-width: 35em){

    .wrapper{
        width: 70%;
        margin: 0 auto;
    }

    .icon{
        width: 50%;
        margin: 0 auto;
    }



}

@media only screen and (min-width: 48em){

    .wrapper{
        width: 40%;
        margin: 0 auto;
    }
   
}

